# Scraping Huizenzoeker.nl to Analyse the Dutch Housing Market

Here we import both datasets in the form of CSV files from RStudio after they have been modified to work like real datasets (e.g. adjusting variable classes from character to numeric, and fixing the thousands/decimals delimiters).

In [1]:
#Import packages
import pandas as pd

**Municipality-level dataset**

In [3]:
huizenzoeker_municipality = pd.read_csv('../../data/huizenzoeker_municipality.csv', encoding= 'latin-1')

In [4]:
huizenzoeker_municipality = pd.DataFrame(huizenzoeker_municipality)
huizenzoeker_municipality

,provincie,stad,gem_vraagprijs,perc_ver_vraagprijs,verk_woningen,perc_ver_verkocht,gem_m2prijs,perc_ver_m2prijs,perc_overboden,perc_ver_overboden,best_inkomen,n_inwoners,perc_pop_stijging,perc_pop_daling
0,Noord-Holland,Aalsmeer,600000.0,50.75,14,-6.67,4294.0,5.63,10.67,3.42,45800.0,31859,0.41,NaN
1,Noord-Holland,Alkmaar,344250.0,14.75,50,-29.58,3769.0,8.80,14.05,1.43,36300.0,109436,0.81,NaN
2,Noord-Holland,Amstelveen,605000.0,25.39,25,-47.92,4778.0,3.04,305.01,296.30,37800.0,91675,0.92,NaN
3,Noord-Holland,Amsterdam,450000.0,7.78,273,-19.47,6911.0,5.14,16.09,0.34,30100.0,872757,1.13,NaN
4,Noord-Holland,Beemster,612000.0,2.00,4,-42.86,4311.0,-3.47,-0.23,-12.10,47300.0,10022,2.81,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,Limburg,ValkenburgaandeGeul,365000.0,-5.19,4,-55.56,3308.0,9.75,12.60,5.41,35600.0,16367,NaN,0.63
348,Limburg,Venlo,310000.0,14.81,38,-44.93,2658.0,14.82,7.84,-0.72,33700.0,101802,0.20,NaN
349,Limburg,Venray,297000.0,8.99,8,-33.33,2729.0,23.09,8.98,1.22,39100.0,43614,0.66,NaN
350,Limburg,Voerendaal,287500.0,-11.13,2,-75.00,2185.0,-12.53,7.69,-2.09,40800.0,12475,0.18,NaN
351,Limburg,Weert,329500.0,17.05,22,-33.33,2788.0,-6.41,8.19,-0.35,37300.0,50105,0.53,NaN

In [5]:
huizenzoeker_municipality.describe() #to return the summary statisitics for all municipalities in the Netherlands.

,gem_vraagprijs,perc_ver_vraagprijs,verk_woningen,perc_ver_verkocht,gem_m2prijs,perc_ver_m2prijs,perc_overboden,perc_ver_overboden,best_inkomen,n_inwoners,perc_pop_stijging,perc_pop_daling
count,3.520000e+02,342.000000,352.000000,346.000000,352.000000,342.000000,348.000000,346.000000,349.000000,352.000000,292.000000,59.000000
mean,3.664472e+05,8.926345,21.065341,-14.592312,3121.601068,3.430117,13.983305,4.632890,40037.535817,49282.267045,0.800925,0.340678
std,1.481882e+05,26.256848,30.820106,52.538717,994.801339,13.199358,45.292561,45.529853,4728.094766,73491.321323,0.678329,0.372331
min,0.000000e+00,-41.610000,0.000000,-100.000000,0.000000,-34.770000,-6.470000,-13.400000,25400.000000,0.000000,0.000000,0.010000
25%,2.970000e+05,-6.130000,7.000000,-45.450000,2620.000000,-4.607500,7.935000,-0.770000,36900.000000,21680.500000,0.340000,0.150000
50%,3.497500e+05,4.470000,12.500000,-25.000000,3059.000000,2.795000,10.290000,0.925000,40400.000000,30790.500000,0.630000,0.260000
75%,4.192875e+05,19.245000,23.000000,0.000000,3569.500000,8.882500,12.957500,2.867500,43500.000000,49697.250000,1.102500,0.425000
max,1.695000e+06,133.640000,273.000000,400.000000,9059.000000,87.560000,788.890000,782.810000,53800.000000,872757.000000,5.430000,2.550000

**Province-level dataset**

In [6]:
huizenzoeker_province = pd.read_csv('../../data/huizenzoeker_province.csv', encoding= 'latin-1')

In [7]:
huizenzoeker_province = pd.DataFrame(huizenzoeker_province)
huizenzoeker_province

,Province,gem_vraagprijs,perc_ver_vraagprijs,verk_woningen,perc_ver_verkocht,gem_m2prijs,perc_ver_m2prijs,perc_overboden,perc_ver_overboden,best_inkomen,n_inwoners,perc_pop_stijging,perc_pop_daling
0,Noord-Holland,425000.0,13.33,976,-24.75,4437,9.53,28.66,16.00,36200,2879527,0.92,NaN
1,Zuid-Holland,365000.0,7.67,1283,-38.14,3602,5.54,20.98,10.76,35800,3708696,0.95,NaN
2,Zeeland,280000.0,1.82,168,-38.91,2676,5.31,10.05,1.92,36900,383488,0.12,NaN
3,Noord-Brabant,350000.0,3.24,739,-46.76,3195,5.31,8.74,0.87,38100,2548585,0.71,NaN
4,Utrecht,425000.0,9.25,608,-8.30,4190,4.05,13.03,1.06,39500,1354834,0.94,NaN
5,Flevoland,339000.0,4.31,153,-39.53,2982,1.64,16.40,1.69,39500,423021,1.55,NaN
6,Friesland,285000.0,3.64,322,-12.74,2429,-1.82,11.71,1.07,34900,649957,0.35,NaN
7,Groningen,250000.0,11.11,316,-9.20,2550,6.65,20.27,4.51,30600,540009,0.38,NaN
8,Drenthe,309000.0,4.75,236,-25.55,2481,1.31,11.58,1.09,37100,493682,0.31,NaN
9,Overijssel,300000.0,1.69,457,-16.15,2692,4.42,10.50,0.66,36900,1162406,0.52,NaN
10,Gelderland,350000.0,4.48,748,-31.56,3119,2.16,13.94,3.39,37500,2085952,0.67,NaN
11,Limburg,285000.0,3.64,376,-38.06,2482,5.80,42.52,33.65,34800,1117201,0.10,NaN

In [8]:
huizenzoeker_province.describe()

,gem_vraagprijs,perc_ver_vraagprijs,verk_woningen,perc_ver_verkocht,gem_m2prijs,perc_ver_m2prijs,perc_overboden,perc_ver_overboden,best_inkomen,n_inwoners,perc_pop_stijging,perc_pop_daling
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,1.200000e+01,12.000000,0.0
mean,330250.000000,5.744167,531.833333,-27.470833,3069.583333,4.158333,17.365000,6.389167,36483.333333,1.445613e+06,0.626667,NaN
std,55959.603936,3.740944,349.140199,13.309697,681.171912,2.963244,9.787681,9.803833,2394.627826,1.109205e+06,0.419227,NaN
min,250000.000000,1.690000,153.000000,-46.760000,2429.000000,-1.820000,8.740000,0.660000,30600.000000,3.834880e+05,0.100000,NaN
25%,285000.000000,3.540000,296.000000,-38.332500,2533.000000,2.030000,11.310000,1.067500,35575.000000,5.284272e+05,0.340000,NaN
50%,324000.000000,4.395000,416.500000,-28.555000,2837.000000,4.865000,13.485000,1.805000,36900.000000,1.139804e+06,0.595000,NaN
75%,353750.000000,8.065000,741.250000,-15.297500,3296.750000,5.605000,20.447500,6.072500,37650.000000,2.201610e+06,0.925000,NaN
max,425000.000000,13.330000,1283.000000,-8.300000,4437.000000,9.530000,42.520000,33.650000,39500.000000,3.708696e+06,1.550000,NaN

**Streets-level dataset**

In [9]:
huizenzoeker_streets = pd.read_csv('../../data/huizenzoeker_streets.csv', encoding= 'latin-1')

In [10]:
huizenzoeker_streets = pd.DataFrame(huizenzoeker_streets)
huizenzoeker_streets

,straat,woonplaats,n_woningen,gem_bouwjaar,gem_woon_m2,bioscoop_m,treinstation_m,busstation_m,school_m,kinderopvang_m,supermarkt_m,best_inkomen
0,VanMusschenbroekstraat,Tilburg,27,1972,76,1007,1478,336,215,171,497,17204.0
1,VanOldenbarneveltstraat,Tilburg,32,1957,90,1728,1763,115,430,335,90,17204.0
2,VanOosterzeestraat,Tilburg,43,1978,116,3389,3201,81,340,105,357,28141.0
3,VanOtterloostraat,Tilburg,26,2007,173,3172,2979,159,150,101,287,31938.0
4,VanSassevanYsseltstraat,Tilburg,60,1968,115,968,683,210,381,155,293,29597.0
...,...,...,...,...,...,...,...,...,...,...,...,...
209,Zwammerdamstraat,Tilburg,6,2018,154,6845,642,258,497,475,1570,NaN
210,Zwartsluishof,Tilburg,41,2019,67,6877,785,391,645,556,1655,NaN
211,Zwartvenseweg,Tilburg,136,1970,115,4456,1368,300,488,145,391,25831.0
212,Zwijsenplein,Tilburg,1,1900,14463,524,753,176,655,229,313,NaN
213,Zwin,Tilburg,12,1993,209,2841,1584,364,752,317,936,37452.0

In [11]:
huizenzoeker_streets.describe()

,n_woningen,gem_bouwjaar,gem_woon_m2,bioscoop_m,treinstation_m,busstation_m,school_m,kinderopvang_m,supermarkt_m,best_inkomen
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,141.000000
mean,44.135514,1979.794393,342.056075,3492.345794,1576.602804,281.948598,485.191589,249.523364,664.929907,23822.304965
std,48.535988,26.822049,1211.719124,2679.006408,967.286275,257.801744,426.401226,297.749062,516.940839,6398.571877
min,1.000000,1900.000000,10.000000,95.000000,191.000000,43.000000,26.000000,18.000000,52.000000,15605.000000
25%,14.250000,1961.250000,94.000000,1252.250000,787.000000,151.250000,215.000000,95.750000,294.250000,17204.000000
50%,27.000000,1980.000000,121.500000,2663.000000,1424.000000,212.000000,375.000000,156.000000,444.000000,21937.000000
75%,54.000000,2005.500000,169.750000,5841.500000,2132.750000,308.500000,578.250000,249.250000,969.000000,28141.000000
max,349.000000,2021.000000,14463.000000,10033.000000,5232.000000,1808.000000,2545.000000,1879.000000,2539.000000,37452.000000